:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: #2e2f42;
    --grey: #2e2f42;
    --white: #ffffff;
    --dairy: #fcfcfc;
    --calc: var(team-list)
}


/* Reset style */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;

}

body {
    font-family: Roboto, sans-serif;
    color: var(--slate);
    font-style: Regular;
    font-size: 16px;
    line-height: 1.28;
    letter-spacing: 2%;
    background-color: var(--white);
}

.button {
    font-family: inherit;
    cursor: pointer;
}

.link {
    text-decoration: none;

}

.list {
    list-style: none;
}


/* headder */
.border-bottom {
    border-bottom: 1px solid var(--cornflower);

}


header {
    background-color: var(--white);

}

.container {
    width: 1158px;
    margin: 0 auto;

}




.nav-item {
    display: flex;
    align-items: center;

}

.web-color {
    color: var(--iris);

}


.studio-color {
    color: var(--navy-blue);
}

.nav-link:hover {
    color: var(--ocean);
}

.nav-link:focus {
    color: var(--ocean);
}

.list-link {
    display: flex;
    gap: 40px;
    margin-left: 76px;





}

.nav-link {
    color: var(--navy-blue-modal);
    font-family: Roboto, sans-serif;
    font-style: medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    padding: 24px 0px;
    display: block;




}

.web-color {
    font-family: Raleway;
    font-style: ExtraBold;
    font-size: 18px;
    line-height: 1.17;
    vertical-align: Center;
    letter-spacing: 0.03em;
    font-weight: 800;
    display: flex;








}

.web-color {
    text-transform: uppercase;
    text-decoration: none;
}




/* contakts */
.contakts {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;

}

.contakts-link {
    display: flex;
    gap: 40px;




}

.contakts-item:hover {

    padding: 24px 0px;

    color: var(--ocean);

}

.contakts-item:focus {
    color: var(--ocean);
}

.contakts-item {
    color: var(--slate);

}

.list {
    list-style: none;
}

/* hero saction */



.hero-item {
    background-color: var(--navy-blue);
    text-align: center;
}

.hero-title {
    color: var(--white);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    width: 496px;
    margin: 0px auto 48px auto;
    padding-top: 191px;
}

.hero-button {
    background-color: var(--iris);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    margin-bottom: 185px;
}

.hero-button {
    color: var(--white);

}

.hero-button:hover {
    background-color: var(--ocean);
}

.hero-button:focus {
    background-color: var(--ocean);
}

/* principles */
.princ-list {
    display: flex;
    text-align: center;
    gap: 8px;
    padding-top: 123px;
    margin-bottom: 120px;
}

.principles-item {
    color: var(--navy-blue);
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.principles-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/* Our work */




.work-title {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-bottom: 120px;
}

.work-item {
    color: var(--navy-blue);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;


}

/*  Team*/
.team-list {
    display: flex;
    gap: 24px;

}

.team-wrapper {
    padding: 120px 0;
}

.team {
    background-color: var(--cloud);
}

.color-team-item {
    background-color: var(--white);
}

.team-item {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.people-names {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* Footer */



.web-color {
    color: var(--iris);
    font-family: Raleway, sans-serif;
    font-style: ExtraBold;
    font-size: 18px;
    line-height: 21px;
    Line-height: 1.17;
    vertical-align: Center;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-transform: uppercase;



}

.studio-color-item {
    color: var(--cloud);
}

footer {
    background-color: var(--navy-blue);
}

.footer-list>.container {
    padding-top: 100px;
}


.footer-content {
    color: var(--cloud);
    width: 264px;
    display: flex;
    margin-bottom: 100px;
    display: flex;
    padding-top: 16px;
    padding-bottom: 100px;




}

.footer-item {
    display: flex;
    text-align: center;
}



/* Portfolio */
.button-link {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;

    gap: 24px;


}

.portfolio-wrapper {
    padding-top: 96px;
    padding-bottom: 120px;
}

.button-filter-item {
    background-color: var(--cloud);
    color: var(--iris);
    border-radius: 4px;
    padding: 12px 24px;

}

.button-filter-item:hover {
    background-color: var(--ocean);
    color: var(--white);
}

.button-filter-item:focus {
    color: var(--white);
    background-color: var(--ocean);
}

.button-filter-item {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

/* table */
.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0px;
}

.set-item {
    display: flex;
    width: calc((100% - 2*24px)/3);

}

.border {
    border: 1px solid var(--cornflower);
    border-top: none;
    padding: 32px 16px;
}


.set-item>.link,
.set-item img {
    width: 100%;
}

.portfolio-item {
    color: var(--grey);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.row-contents {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.list {
    list-style: none;
}